.contentclass {
    background-color: darkgray;
}

.secondcontainer {
    margin-top: 100px;
    border-radius: 5px;
}

.x {
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 5px 5px 10px solid;
}

.y {
    margin-top: 50px;
}